PORT=3001
FIREBASE_SERVICE_ACCOUNT='{"type": "service_account", ...}'
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
GOOGLE_VISION_CREDENTIALS='{"type": "service_account", ...}'
